@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  color: #fff;
}

body {
  min-height: 100vh;
  background-color: aquamarine;
}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 88vh;
  padding: 1rem 0.5rem;
}

.header {
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
}

section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 8px -1px rgba(51, 196, 82, 0.75);
  -webkit-box-shadow: 0px 0px 8px -1px rgba(51, 196, 82, 0.75);
  -moz-box-shadow: 0px 0px 8px -1px rgba(51, 196, 82, 0.75);
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a,
a:visited {
  color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.success {
  outline-width: 0.2px;
  outline-color: green;
}

.fail {
  outline-width: 0.2px;
  outline-color: orangered;
}

label,
button {
  margin-top: 1rem;
}

label {
  display: flex;
  align-items: center;
}

i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  align-self: flex-start;
  margin-top: 3px;
}

button {
  padding: 0.5rem;
}

.instructions {
  display: flex;
  gap: 0.5rem;
  font-size: 0.65rem;
  background: rgba(0, 0, 0, 0.877);
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.existing_user {
  display: flex;
  gap: 0.5rem;
}

a {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 200;
}

.signin_success {
  font-size: 1rem;
  color: black;
}

.flexGrow {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

li {
  list-style: none;
}

[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin: 0 5px 2px 2px;
}
